/* Add your custom extension styling here */
.resource-monitor-box {
    spacing: 2px;
}

.resource-monitor-menu {
    min-width: 240px;
}

.resource-monitor-item {
    spacing: 1px;
}

.resource-monitor-item .system-status-icon {
    color: #ffffff;
}